<div class="sponsors row">
    <div class="sponsors column">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/200px-HP_logo_2012.svg.png" alt="Snow" style="width:100%">
    </div>
    <div class="sponsors column">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Forest" style="width:100%">
    </div>
    <div class="sponsors column">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/2880px-Microsoft_logo_%282012%29.svg.png" alt="Mountains" style="width:100%">
    </div>
</div>